body{
	background-color: #232323;
	margin: 0;
	font-family: "Montserrat", "Avenir";
}

.square{
	width: 30%;
	background: purple;
	padding-bottom: 30%;
	float: left;
	margin: 1.66%;
	border-radius: 20%;
	transition: background-color 1.0s;
	-webkit-transition: background-color 1.0s;/*mozila i webkit(engine for safari)*/
	-moz-transition: background-color 1.0s;
}

#container{
	margin: 20px auto;
	max-width: 600px;
	width: 40%;
}

h1{
	color: white;
	line-height: 1.1;
	text-align: center;
	background-color: steelblue;
	margin: 0;
	font-weight: normal;
	text-transform: uppercase;
	padding: 20px 0;
}

#message{
	display: inline-block;
	width: 20%;
}

#middle{
	text-align: center;
	background-color: white;
	height: 30px;
}

.selected {
	background-color: steelblue;
	color: white;
	height: 100%
}

#picked{
 	font-size: 200%;
}

button{
 	border: none;
 	border-radius: 20%;
 	background: none; 
 	text-transform: uppercase;
 	height: 100%;
 	color: steelblue;
 	letter-spacing: 1px;
 	font-size: inherit;
 	transition: all 1.0s;
 	outline: none; /*ona glupa granica*/
 }

 button:hover{
 	color: white;
 	background-color: steelblue;
 }